@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>
<button onclick="goToGoodbye()">Click me</button>

<script>
    function goToGoodbye() {
        window.location.href = "/Goodbye/";
    }
</script>